html {
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  height: 100%;
}

body,
#root {
  height: 100%;
  width: 100%;
}

#root {
  background-image: url("../assets/images/whiteCanvas.jpg");
}

#title {
  text-align: center;
  font-size: 6rem;
  font-style: italic;
  position: relative;
}

.formContainer {
  margin-top: -12rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-self: center;
  position: fixed;
}

.inputForm {
  padding: 1%;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  justify-content: center;
  /* border: 1px solid black; */
  height: 175px;
  width: 20%;
  background-color: #333333;
  border-radius: 5px;
  color: rgb(207, 207, 207);
  min-width: 370px;
  margin-top: auto;
  margin-bottom: auto;
}

#submitButton {
  background-color: orange;
  font-family: Roboto, sans-serif;
  font-style: bold;
  border: 1px solid orange;
  border-radius: 10px;
}
#submitButton:hover {
  background-color: rgb(223, 145, 0);
  border: 1px solid orange;
}
#submitButton:active {
  background-color: rgb(223, 145, 0);
  border: 1px solid rgb(138, 90, 0);
}

.instructionContainer {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Roboto, sans-serif;
}

#instruction {
  color: rgb(95, 95, 95);
}

.sortButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  justify-self: center;
}

.canvasContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#myCanvas {
  border: 3px solid black;
}

.buttonContainer {
  width: 50%;
  margin: auto;
  justify-content: center;
}

.sortInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sortingButton {
  margin: 1px solid black;
  background-color: rgb(59, 59, 59);
  color: white;
  border-radius: 5px;
  padding: 3px 10px;
}

#littleDarker {
  color: rgb(209, 209, 209);
}

.finishedButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#finishedButton {
  background-color: orange;
  font-family: Roboto, sans-serif;
  font-style: bold;
  border-radius: 10px;
  padding: 3px 10px;
}
